html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 27px;
}

img {
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-size: 0.875rem;
  font-weight: 700;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
}

a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: .2em;
}

a:hover {
  background-color: #000;
  color: #fff;
}

.quest {
  float: left;
  width: 25%;
  background-color: #e2e2e2;
}

.dino {
  float: left;
  width: 25%;
  background-color: #ccc;
}

.dragon {
  float: left;
  width: 25%;
  background-color: #aaa;
}

.ship {
  float: left;
  width: 25%;
  background-color: #999;
}
